<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="/estilos/livros.css" />

        <title> <%= title %> </title>

    </head>

    <body>

        <header>

            <h3>
                Listagem de Livros
            </h3>


            <nav>
                <div>

                    <a href="/">Menu Inicial</a>                       
                    <a href="/inicio/menulivros">Menu Anterior</a>   

                    <a href="/livros/livrosListar">Listar Livros</a>
                    <a href="/livros/novo">Cadastrar Livros</a>
                    <a href="/livros/livroseditar">Editar Livros</a>
                    <a href="/livros/livrosinativar">Inativar Livros</a>

                </div>
            </nav>
        </header>

<br>
<hr>
        <section id="listarlivros">

            <fieldset>
                <legend> Registros Cadastrados </legend>
                <table border="1" id="registros">
                    <tr>
                        <td>Código</td>
                        <td>A/I</td>
                        <td>Dt.Cadastro</td>                                                
                        <td>Título</td>
                        <td>Edição</td>                        
                        <td>ISBN</td>
                        <td>Ano</td>                                                
                        <td>Autor</td>
                        <td>Editora</td> 
                        <th></th>
                        <th><a class="btn btn-success btn-block" href="/livros/novo">Novo</a></th>
                    </tr>
                    
                    <% for(i=0; i<obj_livros.length; i++) { %>
                        <tr>
                            <td> <%= obj_livros[i].liv_codigo %> </td>
                            <td> <%= obj_livros[i].liv_ativoinativo %> </td>
                            <td> <%= obj_livros[i].liv_dtcadastro %> </td>
                            <td> <%= obj_livros[i].liv_titulo %> </td>
                            <td> <%= obj_livros[i].liv_edicao %> </td>
                            <td> <%= obj_livros[i].liv_isbn %> </td>
                            <td> <%= obj_livros[i].liv_ano %> </td>
                            <td> <%= obj_livros[i].aut_apelido %> </td>
                            <td> <%= obj_livros[i].edt_nome %> </td>
                        </tr>         
                    <% } %>
                </table>
            </fieldset>
        </section>
    </div>        
    
    </body>
</html>
